@model IEnumerable<Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Attendees</h1>
@if (Model.Count() > 0)
{
    <div class="container">
        <table class="table table-striped table-hover text-center" style="padding-left: 150px;">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Phone

                    </th>

                    <th>Times of Coming</th>

                    <th>
                        Detials

                    </th>


                  
                    <th>
                       Take One

                    </th>



                  

                </tr>
            </thead>

            <tbody>
                @foreach (var student in Model)
                {
                    <tr>
                        <td> @student.Name</td>
                        <td> @student.Phone</td>


                        <td>@student.Attendances.Count(a => a.IsComed)</td>


                          <td>
                            <a class="btn btn-warning" asp-action="DetailsAttendance" asp-route-id="@student.Id"> Details </a>
                        </td>



                        <td>
                            <a class="btn btn-info" asp-action="TakeOne" asp-route-id="@student.Id"> Take  Attendence</a>
                        </td>

                      

                      


                    </tr>
                }

            </tbody>
        </table>
    </div>
}
else
{
    <div class="alert alert-danger">
        <h5> No Attendances Taken</h5>
    </div>
}

